.navbar {
    border-radius: 0;
    margin-bottom: 0;
}

.sub-nav {
    background-color: #0c7cd5;
    color: #fff;
    padding: 10px 35px;
    height: 75px;

    h4 {
        color: #fff;
        line-height: 1.6em;
    }

    a {
        color: #fff;
    }
}
